# Don't track content of these folders
node_modules/
src/main/webapp/static/uploaded_content/
target/
target/*	
.gitignore


# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
.idea/
.eclipse
# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
