 * {
    margin: 0;
    box-sizing: border-box;
}
#gate {overflow: hidden;background-color: #EFF1F6;padding-bottom: 65px;}
.mltr {
	margin-right: 10%;
	margin-left: 10%;
}
#heading {
    text-align: center;
    padding-bottom: 55;
    padding-top: 5%;
}
#heading h1 {}
#img {}
.img1 {
    overflow: hidden;
    padding-bottom: 50px;
}
.img-cont {
    width: 48%;
    float: left;
}
.img-cont img {
    width: 100%;
}
.img-cont h3 {
    margin-left: 5%;
    font-size: 25px;
}
.img-cont p {
    margin-left: 5%;
    letter-spacing: 1px;
    line-height: 35px;
    width: 70%;
    color: 3D3D3D;
}
.img-cont ol {}
.img-cont ol li {
    color: 3D3D3D;
    padding-bottom: 15px;
    letter-spacing: 1px;
}
.btn-danger2 {
	
margin-left: 45%;
	
margin-top: 5%;
	
padding: 5px 25px 5px 25px;
}



