 * {
    margin: 0;
    box-sizing: border-box;
}
#Perimeter {
    overflow: hidden;
    background-color: #EFF1F6;
    padding-bottom: 15px;
}
.mltr {
    margin-left: 10%;
    margin-right: 10%;
}
.mltr {}
#heading {
    text-align: center;
    padding-bottom: 55;
    padding-top: 5%;
    text-shadow: 2px 2px rgba(0,0,0,0.5);
}
#heading h1 {
    font-family: 'Open Sans', sans-serif;
}
#info {}
#info1 {}
#info1 h2 {
    color: 3D3D3D;
    width: 100%;
    padding-bottom: 4%;
    letter-spacing: 1px;
}
#info2 {}
.img {
    width: 48%;
    float: left;
}
.img img {
    width: 100%;
    box-shadow: 10px 10px 5px rgba(24, 39, 45, 0.58);
    margin-top: 6%;
}
.img p {
    margin-left: 8%;
    padding-bottom: 16px;
    letter-spacing: 1px;
    color: 3D3D3D;
}
.img span {margin-left: 6%;}

.btn-danger2 {

margin-left: 45%;

margin-top: 5%;

padding: 5px 25px 5px 25px;
}














