#test {
  position: relative;
}
.mltr {
  margin-left: 10%;
  margin-right: 10%;
}
.swiper-box {

background-color: #eeebeb;
}
.swiper-box img {

width: 20%;

margin-left: 15px;
}
.swiper-box h2 {

margin-left: 15px;

font-size: 17px;

padding-bottom: 15px;

padding-top: 25px;
}
.swiper-box h2 span {

color: #ababab;

font-size: 10px;
}
.swiper-box p {

line-height: 30px;

letter-spacing: 1px;

width: 82%;

margin-left: 15px;
}
.swiper-wrapper {
 
}