* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#contact {
    overflow: hidden;
    padding-top: 5%;
}
.mltr {
    margin-left: 10%;
    margin-right: 10%;
}
#top {
    text-align: center;
    text-shadow: 2px 2px rgba(0,0,0,0.5);
    padding-bottom: 5%;
}
#top h1 {
    font-family: 'Open Sans', sans-serif;
}
#info {
    background-color: #f1e9e9;
    overflow: hidden;
    padding-top: 25px;
    padding-bottom: 25px;
}
.info1 {
    width: 30%;
    float: left;
}
.icon {
    width: 9%;
    float: left;
}
.icon i {margin-left: 25px;border: 1px solid black;border-radius: 50%;padding: 10px 11px 10px 11px;color: #8D8D8D;}
.icon-info {
}
.icon-info h2 {
    margin-left: 90px;
    color: #5a5353;
    font-size: 18px;
}
.icon-info span {
}
#test {
    overflow: hidden;
    padding-top: 5%;
}
#box {
    width: 50%;
    float: left;
}
#box p {
    margin-bottom: 25px;
}
#box input {
    padding: 30px 330px 7px 1px;
}
#box textarea {
    padding: 30px 344px 7px 1px;
}
#box button {
    padding: 10px 20px 10px 20px;
    margin-left: 10%;
}
#map {
    width: 50%;
    float: right;
}
#map iframe {}





