.our-faq-wrapper {
  float: left;
  width: 100%;
  padding: 89px 0 60px;
  background:#f5f5f5;
}

.our-faq-wrapper {
    padding: 90px 0 60px;
    background: #EFF1F6;
}
.accordion .card {
  border: none;
  margin-bottom: 30px;
}
.our-faq-wrapper .btn-link {
  display: block;
  width: 100%;
  text-align: left;
  position: relative;
  background: #242c42;
  color: #fff;
  border-radius: 0;
  padding: 7px 15px 12px;
  font-size: 16px;
  overflow: hidden;
  border: none;
  font-weight:600;  
}
.our-faq-wrapper .btn-link:hover, .our-faq-wrapper .btn-link:focus {
  text-decoration: none;
}
.our-faq-wrapper .btn-link:after {
  position: absolute;
  content: '\f068';
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: fontawesome;
}
.our-faq-wrapper .btn-link.collapsed:after {
  content: '\f067';
}
.our-faq-wrapper .btn-link:before {
  position: absolute;
  content: '';
  background: #86bc42;
  -webkit-transform: skew(-35deg);
  transform: skew(-35deg);
  height: 100%;
  width: 50%;
  left: 90%;
  top: 0;
}
.card-header {
  padding: 0;
  background: transparent;
  border-bottom: none;
}
.card-body {
  position: relative;
}
.card-body:after {
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #242c42;
}
.card-body:before {
  position: absolute;
  content: '';
  height: 2px;
  width: 50%;
  left: 0;
  bottom: 0;
  background: #86bc42;
  z-index: 1;
}
.row.row1 {
  clear: both;
}
.services-section.services-section1 {
  background-color: white;
}
.sec-padding1 {
  overflow: hidden !important;
}