.card-container{
	display: grid;
    padding: 1rem;
/*     grid-template-columns: repeat(auto-fit, minmax(320px, 1fr)); */
    grid-gap: 1rem;
	margin-top: 7%;
}
.main-card{
	margin-bottom: 15px;
}
.card-p {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border-radius: 5px;
  display: grid;
}

.card-p:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.avatarimg {
	width: 100%;
    height: 14rem;
  border-radius: 5px 5px 0 0;
}

.container-p {
  padding: 8px 0px 15px 13px;
}